<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


<div *ngIf="weather">
    <button mat-raised-button color="white" class="forecast" *ngFor="let day of weather.forecast">
        <!-- switch reference at https://www.meteoswiss.admin.ch/dam/jcr:cb03e6a3-521f-4608-8a09-c9c03d742272/Wettericons_20220214.pdf -->
        <div>
            {{localizedDate(day.dayDate)}}
            <div [ngSwitch]="true">
                <mat-icon *ngSwitchCase="day.iconDay >= 1 && day.iconDay <= 3">sunny</mat-icon>
                <mat-icon *ngSwitchCase="day.iconDay >= 4 && day.iconDay <= 5">cloud</mat-icon>
                <mat-icon *ngSwitchCase="day.iconDay >= 6 && day.iconDay <= 11">water</mat-icon>
                <mat-icon *ngSwitchCase="day.iconDay >= 12 && day.iconDay <= 25">thunderstorm</mat-icon>
                <mat-icon *ngSwitchCase="day.iconDay >= 26 && day.iconDay <= 35">foggy</mat-icon>
                <mat-icon *ngSwitchCase="day.iconDay >= 36 && day.iconDay <= 42">sunny_snowing</mat-icon>
                <mat-icon *ngSwitchCase="day.iconDay >= 101 && day.iconDay <= 105">sunny</mat-icon>
                <mat-icon *ngSwitchCase="day.iconDay >= 106 && day.iconDay <= 110">nights_stay</mat-icon>
                <mat-icon *ngSwitchDefault="">quiz</mat-icon>
                <span *ngSwitchDefault="">quiz</span>
            </div>
            <span>{{day.temperatureMin}} - {{day.temperatureMax}}</span>
        </div>
    </button>

    <!-- signalling that we've loaded -->
    <div *ngIf="weather.forecast.length" class="done-weather"></div>
</div>