<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span>Have a nice day!</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list cols="3" rowHeight="200px">
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <app-weather></app-weather>
  </mat-grid-tile>
  <!-- <mat-grid-tile [colspan]="1" [rowspan]="2">
    Clock + ZVV + Bin
  </mat-grid-tile> -->
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-entsorgung></app-entsorgung>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-zvv></app-zvv>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <div>Last updated: {{showTime()}}</div>
  </mat-grid-tile>
</mat-grid-list>