<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span>Have a nice day!</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list cols="4" rowHeight="250px">
  <mat-grid-tile [colspan]="3" [rowspan]="1" style="background: #DDBDF1">
    Clock + ZVV + Bin
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2" style="background: lightblue">
    <app-zvv></app-zvv>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" style="background: lightgreen">
    Three</mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1" style="background: lightpink">
    <app-entsorgung></app-entsorgung>
    <app-weather></app-weather>
  </mat-grid-tile>
</mat-grid-list>