<mat-toolbar style="background-color: #6d60d3;">
  <button mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <span>Have a nice day!</span>
  <span class="spacer"></span>
  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>
</mat-toolbar>

<mat-grid-list cols="4" rowHeight="220px" gutterSize="0">
  <mat-grid-tile [colspan]="3" [rowspan]="1">
    <app-weather></app-weather>
  </mat-grid-tile>
  <mat-grid-tile class="zvv" [colspan]="1" [rowspan]="2">
    <app-zvv></app-zvv>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <p><span class="timestamp">{{showTime()}}</span></p>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <app-entsorgung></app-entsorgung>
  </mat-grid-tile>
</mat-grid-list>