<mat-card *ngFor="let departure of departures">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>
                {{localizedDestination(departure.to)}}
            </mat-card-title>
            <mat-card-subtitle>
                <span>{{localizedDeparture(departure.stop.departureTimestamp*1000)}}</span>
            </mat-card-subtitle>
            {{departure.number}}
            <!-- <mat-card-subtitle style="margin-left: 6px">{{departure.number}}</mat-card-subtitle> -->
        </mat-card-title-group>
        <mat-card-content>

            <mat-icon *ngIf="departure.category === 'T'">tram</mat-icon>
            <mat-icon *ngIf="departure.category === 'B'">local_shipping</mat-icon>
            <!-- <button mat-button color="primary"> -->
            <br />
            <!-- {{localizedDestination(departure.to)}} -->
            <!-- </button> -->
        </mat-card-content>
    </mat-card-header>
</mat-card>