<div class="content" role="main">
    <h2>Entsorgung</h2>
    <div class="card-container">
        <button class="card card-small" (click)="loadCalendar()" tabindex="0">
            <span class="material-symbols-outlined">calendar_month</span>
            <span>Load Next Collection</span>
        </button>
    </div>

    <div class="card-container" *ngIf="collection">
        <button class="card">
            <span>{{collection.date}}</span>
            <span class="material-symbols-outlined" *ngIf="collection.type === 'paper'">description</span>
            <span class="material-symbols-outlined" *ngIf="collection.type === 'cardboard'">inventory_2</span>
        </button>
    </div>
</div>